* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    color: black;
}

.logo-binance {
    cursor: pointer;
}

.header>.header-left-rf {
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header>.header-left-rf>.rf-grid>.grid-rf {
    cursor: pointer;
}

.header>.header-left-rf>.left>a {
    color: black;
}

.header>.header-left-rf>.left>a:hover {
    color: rgb(255, 196, 0);
}

.header>.header-right-rf>a {
    color: black;
}

.header>.header-right-rf>a:hover {
    color: rgb(255, 196, 0);
}

.header>.header-right-rf {
    width: 450px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 15px;
    justify-content: space-between;
    font-style: none;
}

.header>.header-right-rf>.rf-register {
    background-color: rgb(255, 208, 0);
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
}

.header>.header-right-rf>.rf-moon {
    cursor: pointer;
}

.header>.header-left-rf>.logo-binance {
    max-width: 100%;
    height: 24px;
    padding: 20px;
    padding-right: 0;
    padding-left: 25px;
    image-rendering: optimizeQuality;
    resize: both;
    justify-content: center;
}

.main {
    display: contents;
    justify-content: center;
    align-items: center;
}

.main>.main-info {
    display: flex;
    justify-content: center;
    margin-top: -210px;
}

.main>.main-info>.column-info {
    width: 200px;
    justify-content: center;
    margin-left: 56px;
    margin-right: 65px;
}

.main>.main-info>.column-info>h1 {
    font-size: 38px;
    font-weight: 500;
}

.main-rf {
    height: 940px;
    background: url("../img/bg.png") center;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.main-rf>.main-show {
    display: flex;
    margin-top: 140px;
}

.main-rf>.main-show>.main-show-input>h1 {
    font-size: 55px;
    font-weight: 600;
    max-width: 480px;
    text-align: left;
    margin-right: 52px;
}

.main-rf>.main-show>.main-show-input>.mail-join>.mail-tel {
    margin-left: 2px;
    margin-top: 26px;
    margin-right: 10px;
    width: 266px;
    height: 40px;
    border-radius: 3px;
    outline: solid 1px lightgray;
    border: none;
    padding-left: 15px;
    font-size: 15px;
}

.main-rf>.main-show>.main-show-input>.mail-join>.mail-tel::placeholder {
    color: lightgray
}

.main-rf>.main-show>.main-show-input>.mail-join>.mail-tel:hover {
    outline: solid 1px rgb(255, 196, 0);
}

.main-rf>.main-show>.main-show-input>.mail-join>.join-rf {
    width: 150px;
    height: 43px;
    border-radius: 5px;
    background: rgb(255, 208, 0);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

.main-rf>.main-show>.main-show-input>.mail-join>.join-rf:hover {
    background: rgb(255, 211, 15);
    color: rgb(85, 58, 4);

}

.main-rf>.main-show>.main-img {
    width: 620px;
    height: 510px;
    margin-left: 52px;
}

.subscribe-free-rf {
    margin: 50px auto;
    width: 1200px;
    margin-top: 100px;
    font-size: 14px;
    color: rgb(58, 58, 58);
}

.join-now-rf {
    background-color: rgb(255, 208, 0);
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    margin-top: 20px;
}

.join-now-rf:hover {
    background-color: rgb(243, 201, 13);
    color: rgb(85, 71, 7);
    cursor: pointer;
}

.content-possibles {
    margin: 120px auto;
    width: 1200px;
    padding: 10px;
}

.content-possibles>.content-title {
    font-size: 40px;
    color: rgb(46, 46, 46);
}

.content-possibles>.square-possibles {
    display: flex;
    margin-top: 80px;
    width: 100%;
}

.content-possibles>.square-possibles>.nft-rf2 {
    width: 400px;
    background: rgb(250, 250, 250);
    margin-right: 20px;
    padding: 40px;
    border-radius: 15px;
}

.content-possibles>.square-possibles>.nft-rf2>h1 {
    font-size: 28px;
    font-weight: 500;
}

.content-possibles>.square-possibles>.nft-rf2>img {
    width: 340px;
    height: 230px;
    margin-bottom: 150px;
}

.content-possibles>.square-possibles>.nft-rf2>.hide-nft-rf2 {
    display: none;
}

.content-possibles>.square-possibles>.nft-rf2:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
    cursor: pointer;
}

.content-possibles>.square-possibles>.pay-rf2 {
    width: 400px;
    background: rgb(250, 250, 250);
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 15px;
}

.content-possibles>.square-possibles>.pay-rf2>h1 {
    font-size: 28px;
    font-weight: 500;
}

.content-possibles>.square-possibles>.pay-rf2>img {
    width: 340px;
    height: 230px;
    margin-top: 140px;
}

.content-possibles>.square-possibles>.pay-rf2:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
    cursor: pointer;
}

.content-possibles>.square-possibles>.earn-rf2 {
    width: 400px;
    background: rgb(250, 250, 250);
    margin-left: 20px;
    padding: 20px;
    border-radius: 15px;
}

.content-possibles>.square-possibles>.earn-rf2>h1 {
    font-size: 28px;
    font-weight: 500;
}

.content-possibles>.square-possibles>.earn-rf2>img {
    width: 340px;
    height: 230px;
    margin-bottom: 210px;
}


.content-possibles>.square-possibles>.earn-rf2:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
    cursor: pointer;
}

.table-rf3 {
    margin: 50px auto;
    width: 1270px;
    margin-top: 100px;
}

.tb-list-rf {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-rf3-title {
    width: 1270px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 20px;
}

.tb-list-rf {
    width: 1260px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.see-more-crip:hover {
    color: rgb(255, 196, 0);
    cursor: pointer;
}

.table-rf3-list>.rf3-list-1 {
    margin-right: 140px;
}

.table-rf3-list>.rf3-list-2 {
    margin-right: 90px;
}

.table-rf3-l1:hover {
    background-color: rgba(0, 0, 0, 0.123);
    cursor: pointer;
}

.table-rf3-l2:hover {
    background-color: rgba(0, 0, 0, 0.123);
    cursor: pointer;
}

.table-rf3-l3:hover {
    background-color: rgba(0, 0, 0, 0.123);
    cursor: pointer;
}

.table-rf3-l4:hover {
    background-color: rgba(0, 0, 0, 0.123);
    cursor: pointer;
}

.mkt1 {
    color: red;
}

.mkt2 {
    color: green;
}

.logo-coins {
    float: left;
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    text-align: center;
    margin-top: -7px;
    margin-right: 8px;
    border-radius: 50%;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #dbc60a;
    color: black;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
}


.my-float {
    margin-top: 19px;
}

#ruan_div {
    width: 23rem;
    height: 50px;
}

#ruan_titulo {
    font-size: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    width: 420px;
}

#ruan_div2 {
    margin-top: 40px;
}

#ruan_titulo2 {
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, sans-serif !important;
    color: #474D57;
    font-family: 'IBM Plex Sans', sans-serif;
}

.title3 {
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

#ruan_texto1 {
    color: #474D57;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}

#ruan_divtexto1 {
    width: 420px;
    margin-left: 20px;
}

#ruan_divtexto2 {
    width: 480px;
    margin-left: 20px;
}

.title4 {
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;

}

#ruan_texto2 {
    color: #474D57;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}

#ruan_divtexto3 {
    width: 470px;
    margin-left: 20px;
}

#ruan_texto3 {
    color: #474D57;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}

#title5 {
    font-size: 33px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;

}

#container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;


}

#ruan_foto1 {
    display: flex;
    margin-top: 60px;


}

#ruan_foto2 {
    display: flex;
    margin-top: 60px;

}

#ruan_foto3 {
    display: flex;
    margin-top: 70px;

}

.ruan_fotis {
    padding-right: 20px;
    width: 70px;
    height: 70px;

}

#ruan_zap {
    margin-top: -130px;
    display: block;

}

#containersupremo {
    margin: 120px auto;
    width: 1200px;
    padding: 10px;
}

.footer_endlinks {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-left: 17%;
    margin-right: 17%;
    border-bottom: solid 1px rgb(255, 0, 0);
    margin: 40px;


}

.footer_endlinks li {
    list-style: none;
    margin-left: -40px;
    padding-right: 30px;
    color: rgb(167, 167, 167);
    margin-bottom: 7px;
    font-size: 10px;
    width: 110px;
}

.footer_endlinks li:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

.footer_endlinks ul {
    width: 80px;
    margin-right: 10px;
}

.titles_ {
    font-size: 14px;
    color: rgb(41, 38, 38);
    font-weight: 400;
    margin-bottom: -5px;
}

#Community {
    margin-bottom: 15px;
}

.svg_community {
    display: flex;


}

.fa-brands {
    margin-bottom: 20px;
}

.svg1 div {
    margin-right: 25px;
    cursor: pointer;
}

.svg2 div {
    margin-right: 28px;
    cursor: pointer;
}

.svg3 div {
    cursor: pointer;
}

.button_lenguage button {

    border: 1px solid rgb(211, 211, 211);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    background-color: rgb(235, 235, 235);
    font-size: 10px;

}

.creditos_end {
    text-align: center;
    font-size: 11px;
    color: rgb(133, 133, 133);
}

.Inscreva {
    background-color: #FAFAFA;
    padding-top: 40px;
    padding-bottom: 40px;
}

.Inscreva h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1E2329;
    text-align: center;
    font-family: BinancePlex, Arial, sans-serif !important;
    margin-bottom: 20px;
}

.button_inscreva {
    display: flex;
    justify-content: center;
}

.Inscreva button {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #181A20;
    border-radius: 4px;
    border: none;
    background-color: #FCD535;
    width: 20p0x;
}

.Inscreva button:hover {
    background-color: #ffde58;
    cursor: pointer;
}

.zoomEnding_ {
    zoom: 1.5;
}

.iniciar_chat {
    display: flex;
}

.saiba_mais {
    display: flex;
}

.links_helper {
    margin-top: 4px;
    color: #C99400;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    font-family: sans-serif;
}

.pathi {
    stroke: #C99400;
    fill: #C99400;

}

.title_precisaAjuda {
    display: flex;
    justify-content: center;

}

.title_precisaAjuda h1 {
    font-weight: 600;
    font-size: 40px;
    font-family: Arial, sans-serif;
    line-height: 32px;
    color: #1E2329;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 855px;
    margin-bottom: -5px;
    width: 1000px;
}

.precisa_de_ajuda {
    margin-left: 17%;
    margin-right: 17%;
}

.elemento_one {
    display: flex;
    width: 358px;
    height: 136px;
    padding: 24px;

}

.elemento_two {
    display: flex;
    width: 358px;
    height: 136px;
    padding: 24px;

}

.elemento_three {
    display: flex;
    width: 358px;
    height: 136px;
    padding: 24px;

}

.paragrafo_texto {
    margin-top: -10px;
    width: 280px;
    height: 60px;
    color: #474D57;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;


}

.title_helper {
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 32px;
    color: #1E2329;
    margin-bottom: 20px;
}

.flex_conteiners_ {
    display: flex;
    justify-content: center;

}

.container_helper {
    margin-bottom: 88px;


}

.img_ccripto img {
    width: 484px;
    height: 272px;
}

.title_ccripto {
    display: flex;
    align-items: center;
    width: 1200px;
}

.link_ccripto:hover {
    margin-top: 4px;
    color: #C99400;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    font-family: sans-serif;
    stroke: #C99400;
    fill: #C99400;
}

.link_ccripto1:hover {
    margin-top: 4px;
    color: #C99400;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    width: 140px;
    font-family: sans-serif;
    stroke: #C99400;
    fill: #C99400;
}

.link_ccripto {
    margin-top: 4px;
    color: #adadad;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    font-family: sans-serif;
    stroke: #adadad;
    fill: #adadad;
}

.link_ccripto1 {
    margin-top: 4px;
    color: #adadad;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    width: 200px;
    font-family: sans-serif;
    stroke: #adadad;
    fill: #adadad;
}

.pathi2 {
    stroke: #adadad;
    fill: #adadad;

}

.main_corretora_cripto {
    justify-content: center;
    margin-bottom: 50px;
    margin: 120px auto;
    width: 1200px;
    padding: 10px;

}

.title_ccripto h1 {
    font-weight: 600;
    font-size: 40px;
    color: rgb(30, 35, 41);
    display: block;
    font-family: Arial, sans-serif;
    height: 48px;
    margin-bottom: 70px;
    margin-right: 550px;
}

.texto_ccripto p {
    color: rgb(71, 77, 87);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: -56px;
    width: 1120PX;
    margin-bottom: 30px;

}

.texto_ccripto a {
    margin: 10px;
}

.elements_ccripto {
    display: flex;
    margin-bottom: 30px;
}

.elements_ccripto img {
    width: 80px;
    height: 80px;
    margin: 26px;
    margin-right: 36px;
    margin-left: -5px;
    margin-top: 12px;


}

.body_corretora_cripto {
    display: flex;
}

.textos_ccripto h2 {
    color: rgb(30, 35, 41);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 488px;
    margin-bottom: 15px;

}

.textos_ccripto p {
    color: rgb(71, 77, 87);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 488px;

}

.img_ccripto {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 20px;
}

.texto_infos_ccripto {
    display: flex;
    flex-direction: column;
}

#saiba_mais_ {
    margin-top: -40px;
}


.flex_div_ {
    display: flex;
    align-items: center;

}


.do_trades h1 {
    font-weight: 600;
    width: 1000px;
    font-size: 40px;
    color: rgb(30, 35, 41);
    display: block;
    font-family: Arial, sans-serif;
    height: 48px;
    margin-bottom: 50px;

}

.do_trades a {
    width: 100px;
    margin-bottom: -14px;
    margin-left: 40px;
}

#mudar__ {
    color: rgb(71, 77, 87);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 568px;
}

#imga {
    width: 700px;
    height: 470px;
}

.do_trades {
    margin: 120px auto;
    width: 1200px;
    padding: 10px;
}


.flexboxxx {
    display: flex;
    flex-direction: column;
}

.flexbox_1 {
    display: flex;
}

.svg13 {
    font-size: 30px;

}

.svg11 {
    font-size: 30px;
    margin-right: 30px;
}
.svg12 {
    font-size: 30px;
    margin-right: 30px;
}
.asd {
    margin-right: 135px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 1px;
    cursor: pointer;
    border-radius: 10px;
}
.title_links {
    margin-left: -40px;
    margin-bottom: 20px;
}
.list_Itens {
    width: 100px;
    margin-right: 20px;
}